* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

li {
  list-style: none;
}

.app-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 550px;
  height: 600px;
  padding: 1rem;
  border-radius: 1.5rem;
}

.app-title {
  text-align: center;
  padding: 1rem;
  color: #6965db;
}

.todo-form-container {
  /* border: 1px solid red; */
  padding: 1rem;
}

.todo-form {
  position: relative;
}

.todo-form .todo-input {
  width: 100%;
  height: 3.2rem;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  background-color: rgb(243, 243, 240);
  outline: none;
}

.todo-form .add-btn {
  width: 6rem;
  height: 3.2rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 400;
  position: absolute;
  right: 0;
  background-color: #6965db;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

.title {
  font-size: 0.8rem;
  margin: 1rem;
  margin-bottom: 0;
}

.todo-list-container {
  /* border: 1px solid blue; */
  padding: 1rem 1rem;
  height: 600px;
}

.todo-list {
  height: 58%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-list > li {
  background-color: rgb(238, 238, 238);
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.todo-list > li input[type="checkbox"] {
  margin-right: 1rem;
  appearance: none;
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  border: 2px solid #6965db;
  border-radius: 50%;
}

.todo-list > li input[type="checkbox"]:checked {
  background-color: #6965db;
}

.todo-list > li button {
  position: absolute;
  right: 0;
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 0.6rem;
  border: none;
  background-color: #6965db;
  color: white;
  cursor: pointer;
}

@media (max-width: 600px) {
  .app-container {
    width: 100%;
    height: 100%;
    border-radius: 0%;
    box-shadow: none;
    padding: 0rem;
  }
}
